header{background-color:skyblue;
        border: 1px solid;clear:both;margin-top:30px;
}
h2{text-align:center;}
.row div{background-color:aqua;margin:6px;box-sizing:border-box;position:relative;clear:both;}
.header-nav{border:1px solid black;}
.header-nav{clear:both;margin-top:30px;}
.col-xxs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;float:left;width:100%;}
button{background-color:black;}